{% extends 'website/base.html' %}

{% block content %}
    <div class="col-12">
      {% include 'website/server_messages.html' %}
      <span class="m-0 text-dark">Your Profiles</span>
      <a href="{% url 'macros:add_profile' %}">
        <button id="add-profile" type="button" class="btn btn-success" name="button">Add Profile</button>
      </a>
      <br>
      <br>
    </div>
    {% for profile in profiles %}
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box action-link" href="{% url 'macros:set_current_profile' pk=profile.pk %}">
        <span class="info-box-icon bg-info elevation-1" style="background-color: #{{ profile.color }} !important;">
          <i class="fas fa-cog"></i>
        </span>

        <div class="info-box-content">
          <span class="info-box-text">
              {{ profile.name }}
              <i class="fas fa-pencil-alt edit" style="margin-left:5px;"></i>
              <i class="fas fa-trash-alt delete" href="{% url 'macros:delete_profile' pk=profile.pk %}"></i>
          </span>
          <span class="info-box-number">
            Recordings:
            <small>{{ profile.get_recordings|length }}</small>
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    {% endfor %}
{% endblock content %}
