{% extends 'website/base.html' %}

{% block custom_css %}
div > .alert {
  margin-top: 25px;
  text-align: center;
}
.edit, .delete {
  font-size: 25px;
  margin-right: 5px;
}

.info-box {
  background-color: white;
}

.info-box:hover {
  cursor: pointer;
  background-color: #f3f4f5;
}



{% endblock custom_css %}


{% block content %}
    <div class="col-12">
      <span class="m-0 text-dark">Your Profiles</span>
      <a href="{% url 'macros:add_profile' %}">
        <button id="add-profile" type="button" class="btn btn-success" name="button">Add Profile</button>
      </a>
      <br>
      (Click a profile to set it as your current profile)
      <br><br>
    </div>
    {% for profile in profiles %}
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box action-link" href="{% url 'macros:set_current_profile' pk=profile.pk %}">
        <span class="info-box-icon bg-info elevation-1" style="background-color: #{{ profile.color }} !important;">
          <i class="fas fa-cog"></i>
        </span>

        <div class="info-box-content">
          <span class="info-box-text">
              {{ profile.name }}
              <i class="fas fa-pencil-alt edit action-link animated item" href="{% url 'macros:update_profile' pk=profile.pk %}" style="margin-left:5px;"></i>
              <i class="fas fa-trash-alt delete action-link animated item" href="{% url 'macros:delete_profile' pk=profile.pk %}"></i>
          </span>
          <span class="info-box-number">
            Recordings:
            <small>{{ profile.get_recordings|length }}</small>
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    {% endfor %}
{% endblock content %}

{% block js %}
<script type="text/javascript">

  var animationClass = "tada";

  $('.edit').hover(function() {
    $(this).addClass(animationClass);
  });

  $('.edit').mouseout(function() {
    $(this).removeClass(animationClass);
  });

  // ----------------------------------------------

  $('.delete').hover(function() {
    $(this).addClass(animationClass);
  });

  $('.delete').mouseout(function() {
    $(this).removeClass(animationClass);
  });
</script>
{% endblock js %}
