{% extends 'website/base.html' %}

{% block custom_css %}
div > .alert {
  margin-top: 25px;
  text-align: center;
}
.edit, .delete {
  font-size: 25px;
  margin-right: 5px;
}

.info-box {
  background-color: white;
}

.info-box:hover {
  cursor: pointer;
  background-color: #f3f4f5;
}
{% endblock custom_css %}


{% block content %}
    <div class="col-12">
      <span class="m-0 text-dark">Your Profiles</span>
      <a href="{% url 'macros:add_profile' %}">
        <button id="add-profile" type="button" class="btn btn-success" name="button">Add Profile</button>
      </a>
      <br>
      (Click a profile to set it as your current profile)
      <br><br>
    </div>
    {% for profile in profiles %}
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box action-link" href="{% url 'macros:set_current_profile' pk=profile.pk %}">
        <span class="info-box-icon bg-info elevation-1" style="background-color: #{{ profile.color }} !important;">
          <i class="{{ profile.icon }}"></i>
        </span>

        <div class="info-box-content">
          <span class="info-box-text">
              {{ profile.name }}
              <i class="fas fa-pencil-alt edit action-link animated item" href="{% url 'macros:update_profile' pk=profile.pk %}" style="margin-left:5px;"></i>
              <i class="fas fa-trash-alt delete action-link animated item" href="{% url 'macros:delete_profile' pk=profile.pk %}"></i>
          </span>
          <span class="info-box-number">
            Recordings:
            <small>{{ profile.get_recordings|length }}</small>
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    {% endfor %}
{% endblock content %}

{% block js %}
<script type="text/javascript">

  // ----------------------------------------------
  // Dynamic Interface Graphics
  // ----------------------------------------------

  var animationClass = "tada";

  $('.edit').hover(function() {
    $(this).addClass(animationClass);
  });

  $('.edit').mouseout(function() {
    $(this).removeClass(animationClass);
  });

  // ----------------------------------------------

  $('.delete').hover(function() {
    $(this).addClass(animationClass);
  });

  $('.delete').mouseout(function() {
    $(this).removeClass(animationClass);
  });

  // ----------------------------------------------
  // Interactive Tutorial
  // ----------------------------------------------

  var current_step = -1;
  var steps = [
    { // Step #1
        items_to_highlight: ["add-profile"],
        text_to_display: "Welcome to the tutorial! Profiles let you group your Macros. Let's get started by adding a profile!",
    },
    { // Step #2
        items_to_highlight: ["dashboard"],
        text_to_display: "Your probably going to want to be able to find your profiles, you can do that in these places!",
    },
    { // Step #3
        items_to_highlight: [],
        text_to_display: "In order to play macros you need to set a current profile. Lets do that now!",
    },
    { // Step #4
        items_to_highlight: ["token"],
        text_to_display: "Next, you'll want to enter your Desktop token into the software downloaded. Find it here!",
    },
    { // Step #5
        items_to_highlight: [],
        text_to_display: "Lets try creating your first recording! Click 'Save Recording' and follow the steps that pop up.",
    },
    { // Step #6
        items_to_highlight: ["settings"],
        text_to_display: "Finally, if you ever want to update your settings you can do so here!",
    }
  ];

  function highlight(objects) {
    for(i=0; i < objects.length; i++) {
      $('#' + objects[i]).css('background', 'white');
      $('#' + objects[i]).css('color', 'red');
    }
  }

  function restart() {
    step_number = 1;
  }

  function next_step() {
    step_number += 1;
    highlight(steps[step_number].items_to_highlight)
    alert(step[step_number].text_to_display)
  }

  function previous_step() {
    step_number -= 1;
    highlight(steps[step_number].items_to_highlight)
    alert(step[step_number].text_to_display)
  }

  $(document).ready(function() {
    if("{{settings.offer_tutorial}}" == "True") {
      // Start tutorial for the user
      next_step()
    }
  });
</script>
{% endblock js %}
