{% load staticfiles %}

<style type="text/css">
.nav-item > .btn {
  margin-left: 25px;
}
</style>

<div class="row center">
  <div class="col offset-md-1 offset-lg-2 center">
    <nav class="navbar navbar-expand-sm center">
      <!-- Brand -->
      <a class="navbar-brand" href="{% url 'website:homepage' %}">
        <img id="logo" src="{% static 'website/images/logo.jpg' %}" alt="Logo" style="width:75px;">
      </a>

      <!-- Links -->
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="#">Forum</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Documentation</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Report a Bug</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Macro Sharing</a>
        </li>

      </ul>
    </nav>
  </div>
</div>

<script>
</script>
