:root {
  --main-color: black;
  --secondary-color: #0088ff;
  --primary-color: #08f;
  --container-corner-radius: 10px;
}

/* Primary font color  */
.fc-primary {
  color: var(--primary-color);
}

.fc-secondary {
  color: var(--secondary-color);
}

.black {
  background-color: black;
}

.thin {
  font-weight: 200 !important;
}

.white-text {
  color: white;
}

.secondary-colors {
  background-color: var(--secondary-color);
  color: white;
}

.fa:hover, .far:hover, .fas:hover {
  cursor: pointer;
}

h6 {
  color: #aaa;
  font-size: 90%;
}

.edit, .delete {
  font-size: 15px;
  margin-right: 3px;
}

.delete-large {
  color: red;
  font-size: 25px;
  margin-left: 10px;
  position: relative;
  top: 3px;
}

div > .alert {
  margin-top: 12px;
  text-align: center;
}

.white {
  background-color: white;
}

.delete, .edit {
  color: #595959;
}

#id_color_visible {
  margin-left: 15px;
}

.heading {
  background-color: var(--secondary-color);
  color: white;
  padding: 15px;
  text-align: center;
  width: 100%;
  font-size: 35px;
}

.outter {
  margin-top: 50px;
}

.info-box-number {
  font-weight: 400 !important;
}

.full-width {
  width: 100% !important;
}

.modal-header {
  text-align: center !important;
}

.highlighted {
  -webkit-box-shadow: 0px 0px 75px 50px rgba(0,136,255,1);
  -moz-box-shadow: 0px 0px 75px 50px rgba(0,136,255,1);
  box-shadow: 0px 0px 75px 50px rgba(0,136,255,1);
}

.highlighted-minimal {
  -webkit-box-shadow: 0px 0px 15px 10px rgba(0,136,255,1);
  -moz-box-shadow: 0px 0px 15px 10px rgba(0,136,255,1);
  box-shadow: 0px 0px 15px 10px rgba(0,136,255,1);
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  margin-top: 25px;
  color: #08f;
}

.card {
  padding: 25px;
}

.text-right  {
  text-align: right;
}

.text-left {
  text-align: left;
}

.key-code {
  padding: 3px 8px 3px 8px;
  background-color: #eee;
}
