:root {
  --main-color: black;
  --secondary-color: #003366;
  --primary-color: #fd6c53;
  --container-corner-radius: 10px;
  --title-size: 25px;
}

* {
  font-family: 'Montserrat', sans-serif;
  weight: 300 !important;
}

/* Primary font color  */
.fc-primary {
  color: var(--primary-color);
}

.fc-secondary {
  color: var(--secondary-color);
}

.input-group-text {
  background-color: var(--secondary-color) !important;
  border: 2px solid var(--secondary-color) !important;
}

.secondary-colors {
  background-color: var(--secondary-color);
  color: white;
}

.jumbotron {
}

input {
  width: 100%;
}

.bg-primary {
  background-color: #08f;
}

.fg-white {
  color: white;
}

.input-group-text {
  background-color: black;
  color: white;
}

.fa:hover, .far:hover, .fas:hover {
  cursor: pointer;
}

.white {
  background-color: white;
}

.fa-trash-alt {
  color: red;
}

.fa-edit {
  color: orange;
}

.fa-plus, .fa-play, .fa-save {
  color: green;
}

#logo {
  border-radius: 50%;
}

.fa:hover, .far:hover, .fas:hover {
  cursor: pointer;
}

thead {
  background-color: var(--secondary-color);
  color: white;
  font-size: 20px;
}

.btn-success {
  background-color: var(--primary-color) !important;
  border: 2px solid white;
  min-width: 100px !important;
  max-width: 100% !important;
}

table, .table {
  -webkit-box-shadow: 0px 2px 10px 1px rgba(190,190,190,1);
  -moz-box-shadow: 0px 2px 10px 1px rgba(190,190,190,1);
  box-shadow: 0px 2px 10px 1px rgba(190,190,190,1);
  background-color: white;
  border-radius: 7px !important;
}

.center {
  text-align: center;
}

input[type="text"], select {
  width: 100%;
  padding: 5px;
}

.nav-item {
  margin-right: 30px;
}

.nav-link {
  color: black;
  font-size: 1.25vw !important;
}

.nav-link:hover {
  color: #fd6c53 !important;
}
