:root {
  --main-color: black;
  --secondary-color: #003366;
  --primary-color: #fd6c53;
  --container-corner-radius: 10px;
}

/* Primary font color  */
.fc-primary {
  color: var(--primary-color);
}

.fc-secondary {
  color: var(--secondary-color);
}

.secondary-colors {
  background-color: var(--secondary-color);
  color: white;
}

.fa:hover, .far:hover, .fas:hover {
  cursor: pointer;
}

.white {
  background-color: white;
}

.delete {
  color: red;
}

.edit {
  color: orange;
}
