{% extends 'website/base.html' %}

{% load static %}

{% block custom_css %}
  h3 {
    margin-right: 50px;
  }

  #profile-img {
    max-width: 250px;
    background-color: white !important;
    border-radius: 250px;
    padding: 25px;
    margin: 25px;
  }
  #add-container {
    text-align: center;
    margin-top: 50px;
  }

  #add-container > h2 {
    font-size: 60px;
  }

  .input-group-prepend > span {
    background-color: var(--secondary-color) !important;
    color: white;
  }

  #id_color {
    visibility: hidden;
  }
{% endblock custom_css %}

{% block content %}
<div id="add-container" class="col-4 offset-3 center">
  {% include 'website/server_messages.html' %}
  <h2>ADD A PROFILE</h2>
  <img id="profile-img" src="{% static 'website/images/hippie.png' %}">

  <form id="profile-form" action="{% url 'macros:add_profile' %}" method="POST">
    {% csrf_token %}
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Profile Name</span>
      </div>
      <input type='text' name='name' id="id_name" placeholder="Enter Profile Name..." class="form-control">
    </div>
    <input type='text' name='color' id="id_color">
    <br>
  </form>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Profile Color</span>
    </div>
    <input type='color' name='color-visible' id="color-visible" class="form-control">
  </div>
  (Click color to change)
  <br><br>
  <button id="save" class="btn btn-success" name="button">Save New Profile</button>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
  $('#save').click(function() {
    $('#id_color').val(
      $('#color-visible').val()
    );
    $('#profile-form').submit();
  });
</script>
{% endblock content %}
