{% extends 'website/base.html' %}

{% load static %}

{% block custom_css %}
input[type=text] {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input[type=color] {
  width: 25px;
  height: 25px;
  border-radius:50%;
}

label {
  display: none;
}

#id_color, #id_color_visible, #id_icon {
  display: none;
}

.color-option {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 2px 8px 2px 8px;
  margin-right: 5px;
  cursor: pointer;
}

#color-selector-toggle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0px 4px 2px 5px;
  border: 1px solid #000000;
}

#icon-choice {
  padding: 20px 25px 20px 25px;
  font-size: 50px;
  border: 2px solid #ccc;
  color: #ccc;
  border-radius: 50%;
}

#icon-choice-text {
  font-size: 12px;
}

h5, #color-container {
  text-align: left;
}

.modal-icon {
  font-size: 30px;
  margin-bottom: 15px;
}

.modal-icon:hover {
  color: #08f;
}

#icon-choice-container {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

{% endblock custom_css %}

{% block content %}
<div class="row" style="margin-top:5vh;margin-bottom:5vh;">
  <div class="col offset-1" style="max-width: 450px;">
    <div class="card">
      <h2 class="resized-align text-center"><strong>Create A New Profile</strong></h2>
        <form id="profile_update_form" method="post">{% csrf_token %}
          <div id="icon-choice-container" class="text-center">
            <i class="fas fa-plus" id="icon-choice"></i><br>
            <span id="icon-choice-text">(click to change icon)</span>
          </div>
          <h5>Profile Name</h5>
          {{ form.as_p }}
          <h5>Profile Color</h5>
          <div id="color-container">
            {% for color in default_colors %}
              <span class="color-option" style="background-color:{{color}};color:{{color}};" id="{{color}}">+</span>
            {% endfor %}
            <span class="btn btn-default" id="color-selector-toggle"><strong>+</strong></span>
          </div>
          <input type="color" id="id_color_visible">
          <br>
          <button id="update_profile" type="submit" class="btn btn-success full-width" name="button">Save Profile</button>
        </form>
      </div>
    </div>
  </div>

  <!-- /.control-sidebar -->
  <div class="modal fade" id="icons-modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <!--Content-->
      <div class="modal-content text-center">

        <!--Header-->
        <div class="modal-header" style="margin:0px;!important;padding:0px;!important">
          <p id="step-title" class="heading">
            <strong>Select an Icon</strong>
          </p>
        </div>

        <!--Body-->
        <div class="modal-body" style="padding-right:25px;">
          <div class="row">
          {% for icon in icons %}
            <div class="col-2">
              <i class="{{ icon }} modal-icon"></i>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>

  <script type="text/javascript">

    var current_color = "ccc";

    $(document).ready(function() {
      $('#id_name').attr('placeholder', "Enter a profile name...")
    });
    // -------------------------------------------------------------------------
    $('body').on('click', '#icon-choice', function() {
      $('#icons-modal').modal('show');
    });
    // -------------------------------------------------------------------------
    $('#color-selector-toggle').click(function() {
      $('#id_color_visible').click();
    });
    // -------------------------------------------------------------------------
    $('#id_color_visible').change(function() {
      var new_color = $(this).val();
      $('#id_color').val(new_color.replace("#", ""));
      $('#icon-choice').css('color', new_color);
      $('#icon-choice').css('border', "2px solid " + new_color);
      $('#icon-choice').css('background-color', convertHex(new_color, .2));
    });
    // -------------------------------------------------------------------------
    $('.color-option').click(function() {
      var new_color = $(this).attr('id');
      current_color = new_color;
      $('#id_color').val(new_color.replace("#", ""));
      $('#icon-choice').css('color', new_color);
      $('#icon-choice').css('border', "2px solid " + new_color);
      $('#icon-choice').css('background-color', convertHex(new_color, .2));
    });
    // -------------------------------------------------------------------------
    $('.modal-icon').click(function() {
      var classList = $(this)[0].classList;
      var desired_classes = "";
      for(var i=0; i < classList.length - 1; i++) {
        $('#icon-choice').addClass(classList[i]);
        desired_classes += (classList[i] + " ");
      }
      desired_classes.trim();
      $('#icon-choice-container').html(
        "<i id='icon-choice' class='" + desired_classes + "'></i><br><span id='icon-choice-text'>(click to change icon)</span>"
      );
      $('#id_icon').val(desired_classes);
      $('#icons-modal').modal('hide');
      $('#icon-choice').css('color', current_color);
      $('#icon-choice').css('border', "2px solid " + current_color);
      $('#icon-choice').css('background-color', convertHex(current_color, .2));
    });
  </script>
{% endblock content %}
