{% extends 'website/base.html' %}

{% load static %}

{% block custom_css %}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
label {
  display: none;
}

#id_icon {
  display: none;
}

.profile-icon {
  font-size: 50px;
  padding: 10px;
  background-color: white;
  color: var(--secondary-color);
}

.profile-icon:hover, profile-icon-active {
  background-color: var(--secondary-color);
  color: white;
}
{% endblock custom_css %}

{% block content %}
  <div class="col-md-4 col-xl-3 update-container">
    <h2>Create A New Profile <span style="color:#{{object.color}}">{{ object.name }}</span></h2>
    <form id="profile_update_form" method="post">{% csrf_token %}
        {{ form.as_p }}
        (Click to change color)<input type="color" id="id_color_visible" value="#{{object.color}}">
        <br><br>
        <h3>Select Profile's Icon</h3>
        <i class="profile-icon fab fa-affiliatetheme"></i>
        <i class="profile-icon fas fa-adjust"></i>
        <i class="profile-icon fas fa-anchor"></i>
        <i class="profile-icon fas fa-award"></i>
        <i class="profile-icon fas fa-book"></i>
        <br><br>
        <button id="update_profile" type="submit" class="btn btn-success" name="button">Save Changes</button>
    </form>
  </div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#id_color').val(
      $(this).val().replace("#", "")
    );

    $('#id_name').attr('placeholder', "Enter a profile name...")
    $('#id_color').attr('placeholder', "Enter a profile color...")
  });

  $('#id_color_visible').change(function() {
    $('#id_color').val(
      $('#id_color_visible').val().replace('#', '')
    );
  });

  $('.profile-icon').click(function() {
    // Remove active property from all other profile icons
    $('.profile-icon').each(function() {
      $(this).css('color', 'var(--secondary-color)');
      $(this).css('background', 'white');
    });

    // Only set the current one to active
    $(this).css('background', 'var(--secondary-color)');
    $(this).css('color', 'white');

    var classList = $(this)[0].classList;

    var icon_class = classList[1] + " " + classList[2];
    // Set the value of hidden icon field
    $('#id_icon').val(icon_class);
  });
</script>
{% endblock content %}
