{% extends 'website/base.html' %}

{% block custom_css %}
input[type=text] {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 12px;
  postition: relative;
  top: -3px;
}

input[type=color] {
  width: 25px;
  height: 25px;
  border-radius:50%;
  padding: 4px;
}

label {
  display: none;
}

table {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(220,220,220,1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(220,220,220,1);
  box-shadow: 0px 0px 3px 1px rgba(220,220,220,1);
  border: 2px solid #ddd;
}

tbody > tr > td {
  background-color: white;
}

.change {
  margin-left: 10px;
  font-size: 30px;
  position: relative;
  top: 5px;
}

#id_color, #id_icon {
  display: none;
}

.main {
  padding:20px;
  background-color: {{object.get_converted_hex_color}};
  color: #{{object.color}};
  font-size: 28px;
  border-radius: 50%;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 10px;
}
{% endblock custom_css %}

{% block content %}
<br>
<div class="row">
  <div class="col-12">
    <div class="card" style="padding-bottom:15px;">

      <span>

        <h2><i class="{{ object.icon }} main"></i> {{ object.name }} <i class="fas fa-trash-alt delete-large action-link animated item" href="{% url 'macros:delete_profile' pk=object.pk %}"></i></h2>

      </span>
      <br>
      <div class="row">
        <div class="col-9">
          <h6>RECORDINGS</h6>
          <hr>
            {% for recording in settings.current_profile.get_recordings %}
              <div class="row" style="margin-bottom:10px;">
                <div class="col-9">
                  {{ recording.name }}
                </div>
                <div class="col text-right">
                  <i class="fas fa-pencil-alt edit action-link animated item text-right" href="{% url 'macros:update_profile' pk=settings.current_profile.pk %}" style="margin-left:5px;"></i>
                  <i class="fas fa-trash-alt delete action-link animated item text-right" href="{% url 'macros:delete_profile' pk=settings.current_profile.pk %}"></i>
                </div>
              </div>
            {% empty %}
            <div class="row" style="margin-bottom:10px;">
              <div class="col">
                There are no recordings saved to this profile
              </div>
            </div>
            {% endfor %}
        </div>
        <div class="col">
          <h6>ACTIVATION</h6>
          <hr>
          {% for recording in settings.current_profile.get_recordings %}
          <div class="row" style="margin-bottom:10px;">
            <div class="col">
              <text class="key-code">{{ recording.key_code }}</text>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
  </div>
  <div class="col-6 update-container">
    <div class="card" style="padding-bottom:15px;">
      <h2>PROFILE DETAILS</h2>
      <form id="profile_update_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <i class="{{object.icon}} change" style="color:#{{object.color}};margin-right:10px;"></i>(Click to change icon)
          <br>
          <br>
        <input type="color" id="id_color_visible" value="#{{object.color}}" style="margin-right:10px;">(Click to change color)
        <br><br>
        <button id="update_profile" type="submit" class="btn btn-success" name="button">Save Changes</button>
      </form>
    </div>
  </div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
  $('#id_color_visible').change(function() {
    $('#id_color').val(
      $('#id_color_visible').val().replace('#', '')
    );
    $('#span-colored').css('color', $('#id_color_visible').val());
  });
  // ----------------------------------------------------------
  $('.change').click(function() {
    $('#icon-modal').modal('show');
  });
</script>
{% endblock js %}
