{% extends 'website/base.html' %}

{% block custom_css %}
input[type=text] {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input[type=color] {
  width: 25px;
  height: 25px;
  border-radius:50%;
  padding: 4px;
}

label {
  display: none;
}

table {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(220,220,220,1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(220,220,220,1);
  box-shadow: 0px 0px 3px 1px rgba(220,220,220,1);
  border: 2px solid #ddd;
}

tbody > tr > td {
  background-color: white;
}

.change {
  margin-left: 10px;
  font-size: 30px;
  position: relative;
  top: 5px;
}

#id_color, #id_icon {
  display: none;
}
{% endblock custom_css %}

{% block content %}
  <div class="col-md-4 col-xl-3 offset-md-1 update-container">
    <h2>Profile Details</h2>
    <form id="profile_update_form" method="post">{% csrf_token %}
        {{ form.as_p }}
        (Click to change icon)<i class="{{object.icon}} change" style="color:#{{object.color}};"></i>
        <br>
        <br>
        (Click to change color)<input type="color" id="id_color_visible" value="#{{object.color}}">
        <br><br>
        <button id="update_profile" type="submit" class="btn btn-success" name="button">Save Changes</button>
    </form>
  </div>
  <div class="col-md-7 col-xl-5 offset-md-1">
    <br>
    <h2>Recordings</h2>
    <table class="table">
      <thead class="black white-text">
          <tr>
            <th>Name</th>
            <th>Activation Key</th>
            <th>Interact</th>
          </tr>
        </thead>
        <tbody>
          {% for recording in object.get_recordings %}
          <tr>
            <th>{{ recording.name }}</th>
            <td>{{ recording.key_code }}</td>
            <td>
              <i class="fas fa-pencil-alt edit action-link animated item" href="#" style="margin-left:5px;"></i>
              <i class="fas fa-trash-alt delete action-link animated item" href="{% url 'macros:delete_recording' pk=recording.pk %}"></i>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3">
              You have no recordings for this profile!
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
  $('#id_color_visible').change(function() {
    $('#id_color').val(
      $('#id_color_visible').val().replace('#', '')
    );
    $('#span-colored').css('color', $('#id_color_visible').val());
  });
  // ----------------------------------------------------------
  $('.change').click(function() {
    $('#icon-modal').modal('show');
  });
</script>
{% endblock js %}
