{% extends 'website/base.html' %}

{% load static %}

{% block custom_css %}
  h3 {
    margin-right: 50px;
  }

  #profile-img {
    max-width: 250px;
    margin: 25px;
  }
  #add-container {
    text-align: center;
    margin-top: 50px;
  }

  #add-container > h2 {
    font-size: 60px;
  }

  #id_color {
    visibility: hidden;
  }

  input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 10px;
  }
{% endblock custom_css %}

{% block content %}<br>
{% include 'website/server_messages.html' %}
<div id="add-container" class="center">
  <img id="profile-img" src="{% static 'website/images/save.png' %}" style="max-width: 100px;">
  <h2>SAVE A RECORDING</h2>
  (This recording will be saved to your current profile: <span class="fc-primary">{{ settings.current_profile }}</span>)
  <br><br>
  <div class="row">
    <div class="col-6 offset-3">
      <form action="{% url 'macros:save_recording' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
          {{ field }}
        {% endfor %}
        <br><br>
        <button class="btn btn-success" name="button">Save New Recording</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}


{% block settings %}
<br>
  {% include 'website/settings.html' %}
{% endblock settings %}
