{% extends 'website/base.html' %}

{% load static %}

{% block content %}
<div class="row">
  <div class="col-6 offset-3 text-center">
    <br><br>
    <h1><b>DESKTOP TOKEN</b></h1>
    <div class="card">
      <h5><img style="max-width:50px;" src="{% static 'website/images/token.png' %}" alt=""> {{ token }}</h5>
      <h5 style="font-weight:200;">(Do not share this with anyone!)</h5>
      <hr>
      <h6>This token is what allows the softare you installed to your computer to talk to this web application.</h6>
    </div>
  </div>
</div>
{% endblock content %}
